* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Verdana
}

#forgot-pw {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:  0;
  left:  0;
  right: 0;
  height: 0;
  z-index: 1;
  background: rgb(250, 238, 238);
  opacity: 0;
  transition: 0.6s;
}
#forgot-pw:target {
  height: 100%;
  opacity: 1;
}

#reset_pass_lbl {
  float: left
}
